{% extends 'ecommerceapp/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<hr>
			<div class="box-element product"><!-- Create the div with box element so that we can style the div boundaries -->
				<img class="thumbnail" src="{{ product.image.url }}">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button  class="bnt">Add to Cart</button>
				<button><a class="bnt" href="#">View</a></button>
				<h4 style=" float: right"><strong>{{product.price|floatformat:2}}</strong></h4>
				                        <!--   |floatformat:2...........to determine the number of decimals of price -->

			</div>
			<br>
			<hr>
		</div>
		{% endfor %}
	</div>

{% endblock content %}